.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: tomato;
  }
  
  .footer {
    background: lightgreen;
  }
  
  .main {
    background: #EEEEEE;
    padding: 20px;
  }

  .content {
    text-align: left;
    background: white;
    padding: 20px;
    box-shadow: 4px 4px 6px 2px #ccc;
  }
  
  .left-menu {
    display: flex;
    flex-flow: column wrap;
    margin: 0; 
    padding: 0;
    background: lightgray;
}

  .menu-list{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-list a {
    text-decoration: none;
    display: block;
    color: black;
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  
  .menu-list a:hover {
    background: gray;
  }
  
  .menu-list li:last-of-type a {
    border-bottom: none;
  }
  
  @media all and (min-width: 600px) {
    .left-menu { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .left-menu { order: 1; } 
    .main    { order: 2; }
    .footer  { order: 3; }
  }
  
  body {
    margin: 0; 
    padding: 0;   
  }